# Secrets
whatsapp/serviceAccount.json
whatsapp/.env
.env

# Dependencies
node_modules/
whatsapp/node_modules/

# Logs and Caches
*.log
.auth_info/
whatsapp/.auth_info/
whatsapp/session/
whatsapp/.wwebjs_cache/
whatsapp/session.zip
.vscode/
